In [7]:
# 1-add an item to a tuple
tuple_m=(1,2,3)
m=list(tuple_m)
m.insert(2,"moner")
mm=tuple(m)
mm

(1, 2, 'moner', 3)

In [9]:
# 2-sum all the items in a list
my_list=[1,2,3,4,5]
sum(my_list)

15

In [15]:
# 3-multiply all the items in a list
my_list = [1,2,3,4,5]
mul = 1
for num in my_list:
    mul *= num
    
print("multiply of item is  " , mul)

multiply of item is   120

In [25]:
# 4-get the smallest number from a list
my_list = [1,2,3,4,5]
minn = min(my_list)
print("The smallest number is " , minn)

The smallest number is  1

In [26]:
# 5-get the largest number from a list
my_list = [1,2,3,4,5]
maxx=max(my_list)
print("The largest number is " , maxx)

The largest number is  5

In [29]:
# 6-count the number of strings from a given list of strings
my_list=[ "moner" , "amit" ,  "mmmm " ]
len(my_list)

3

In [32]:
# 7-Write a Python program to clone or copy a list
num=[1,2,3,4,5,15,10]
num_copy=num[:]
num_copy

[1, 2, 3, 4, 5, 15, 10]

In [56]:
# 8- remove item(s) from a given set.
se={'amit', 'ml' , 'ai','moner'}
se.remove('amit')
print(se)

{'moner', 'ml', 'ai'}

In [61]:
# 9-check if a set is a subset of another set
set1 = {1,2,3,4,5}
set2 = {1,3}

if set2.issubset(set1):
    print("set2 is subset of set1")
else:
    print("set2 is not subset of set1")

set2 is subset of set1

In [70]:
# 10-remove all elements from a given set
set1 = {'moner' , 'amit' , 1}
set1.clear()
print("THe set after removing all element is  " , set1)

THe ser after removing all element is   set()

In [74]:
# 11-find the maximum and minimum values in a set.
set2={10,2,5,6,4,3}
list2= list(set2)
maxvalue = max(list2)
minvalue = min(list2)
max_set2 = {maxvalue}
min_set2 = {minvalue}
print("the maximum value of set is",max_set2 )
print("the minimum value of set is" ,min_set2)

the maximum value of set is {10}
the minimum value of set is {2}

In [76]:
# 12-find the index of an item in a tuple.
tuple1=("moner","amit","data","ahmed","ml")
tuple1.index("amit")

1

In [81]:
# 13-to convert a tuple to a dictionary
tuple1=(("moner" , 0) , ("amit" , 1) , ("data" , 2) , ("ahmed" , 3) , ("ml" , 100) )
dict1 = dict(tuple1)
print(dict1)

{'moner': 0, 'amit': 1, 'data': 2, 'ahmed': 3, 'ml': 100}

In [83]:
# 14-unzip a list of tuples into individual lists
list_of_tuple=[("amit" , 1) , ("ml", 2) , ("python",10)]
words , numbers = zip(*list_of_tuple)
print("words is" , words)
print("numebrs is " , numbers)

words is ('amit', 'ml', 'python')
numebrs is  (1, 2, 10)

In [86]:
# 15-to reverse a tuple.
tuple0=(1,2,3,5,4,15,10)
list0=list(tuple0)
list0.reverse()
m=tuple(list0)
print(m)

(10, 15, 4, 5, 3, 2, 1)

In [88]:
# 16- convert a list of tuples into a dictionary
list_of_tuple=[("amit" , "learing") , ("ml" , "machine learing") , ("python" , "program lang") ]
dict(list_of_tuple)

{'amit': 'learing', 'ml': 'machine learing', 'python': 'program lang'}

In [90]:
# 18- sort a tuple by its float element.
tuple10=((5,"amit") , (2,"student") , (1,"mmmmm"))
sort=sorted(tuple10,key=lambda x:x[0])
print(sort)

[(1, 'mmmmm'), (2, 'student'), (5, 'amit')]